<!DOCTYPE html>
<html>
  <head>
    <title>Vladbook</title>
    <%= render 'defaults/rails_defaults' %>
  </head>
  <body>
    <%= render 'defaults/header' %>
    	<%= yield %>
    <div class="section">
      <%= debug(params) if Rails.env.development? %>
    </div>
    <%= render 'defaults/footer' %>
  </body>
</html>
